@import "reset.scss";
body {
    font-family: "Nunito", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Bungee", cursive;
}

header {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    h1 {
        display: none;
    }
    a {
        position: absolute;
        .logo {
            max-width: 100%;
        }
    }
    .capa {
        width: 100%;
    }
}

main {
    background: linear-gradient(180.22deg, #7e5002 20.16%, #e69405 36.19%, #fad121 98.57%);
    width: 100%;
    .section-dino h2 {
        color: #fcfdfc;
        padding: 50px 20px;
        text-align: center;
    }
    .text-intro {
        color: #fff;
        font-weight: bold;
        margin: 17px;
        text-align: center;
    }
    .separator-line {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 20px;
        .egg-dino {
            margin: 20px;
        }
        hr {
            background-color: #faffff;
            border: none;
            height: 2px;
            width: 100%;
        }
        .ninho {
            margin: 20px;
        }
    }
    .video-dino {
        padding: 20px;
        video {
            box-shadow: 15px 15px #001;
            cursor: pointer;
            width: 100%;
        }
        .slideshow-container {
            margin: 30px auto;
            max-width: 100%;
            position: relative;
            .slides {
                display: none;
                .img-slide {
                    box-shadow: 15px 15px #001;
                    width: 100%;
                }
            }
            .fade {
                animation: fade 1.5s;
            }
            .number-img {
                background-color: rgba(63, 63, 63, 0.8);
                color: #fafafa;
                font-size: 15px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
            }
            .btn-prev,
            .btn-next {
                background-color: rgba(63, 63, 63, 0.8);
                border-radius: 3px;
                color: #fafafa;
                cursor: pointer;
                font-weight: bold;
                font-size: 18px;
                margin-top: -22px;
                padding: 16px;
                position: absolute;
                top: 50%;
                transition: 0.6s ease;
                user-select: none;
                width: auto;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.8);
                }
            }
            .btn-next {
                right: 0;
            }
        }
        .btn-play {
            align-items: center;
            background-image: url("../img/Btn.png");
            background-size: 100%;
            color: #faffff;
            display: flex;
            font-size: 20px;
            height: 50px;
            justify-content: center;
            margin: 30px auto;
            text-decoration: none;
            transition: transform 100ms linear;
            width: 200px;
            &:hover {
                transform: scale(1.5);
            }
        }
    }
    .about-game {
        h3 {
            color: #73263d;
            text-align: center;
        }
        li {
            color: #3d1132;
            font-weight: bold;
            margin: 10px 17px;
            max-width: 80ch;
            text-align: center;
        }
    }
    .requirements {
        dl {
            color: #3d1132;
            font-weight: bold;
            margin: 10px 17px;
            max-width: 80ch;
            text-align: center;
        }
        h3 {
            color: #73263d;
            text-align: center;
        }
    }
    .copyright {
        color: #050914;
        margin: 10px;
        text-align: center;
    }
    .social-media {
        display: flex;
        justify-content: space-around;
        padding-bottom: 30px;
        a {
            display: flex;
            font-size: 1px;
            height: 28px;
            width: 30px;
        }
        [href="https://www.twitch.tv/dininho"]
        {
            background-image: url("../img/twitch.png");
        }
        [href="https://www.twitter.com/dinobonoide"]
        {
            background-image: url("../img/twitter.png");
        }
        [href="https://discord.gg/96hejEn"]
        {
            background-image: url("../img/discord.png");
        }
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}